* {
  margin: 0;
}

.App {
  background: #b3e2c8;
  height: fit-content;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #122652;
  position: static;
  z-index: 2;
  h1 {
    color: whitesmoke;
    background: transparent;
  }
  ul {
    background: transparent;
    li {
      list-style: none;
      .link {
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        margin-right: 1rem;
        font-weight: bold;
      }
    }
  }
}

.SearchBar {
  height: 3rem;
  background: #DE412D;
  .input-search {
    label {
      color: white;
      font-weight: bold;
    }
  }
}

.pokecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  justify-items: center;
  width: 75%;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
  .pokecard {
    height: fit-content;
    background: whitesmoke;
    width: 70%;
    border-radius: 10px;
    .poke-data {
      text-align: center;
      height: 14rem;
      border-radius: 10px;
      .info-link {
        text-decoration: none;
        padding: 5px 10px;
        background: #DE412D;
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 4px;
      }
    }
  }
}

.container-detail {
  height: 100%;
}

@media screen and (max-width: 425px) {
  .pokecontainer {
    grid-template-columns: 14rem;
    .pokecard {
      width: 100%;
    }
  }
}