* {
  margin: 0;
}

.App {
  background: #87ceeb;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(79, 2, 114, 0.945);
  z-index: 2;
  h1 {
    background: transparent;
  }
  ul {
    background: transparent;
    li {
      list-style: none;
      .link {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        background-color: transparent;
      }
    }
  }
}

.SearchBar {
  height: 3rem;
  background: rgba(101, 3, 126, 0.945);
}

.pokecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  justify-items: center;
  width: 75%;
  margin: 2rem auto;
  .pokecard {
    height: fit-content;
    background: whitesmoke;
    width: 70%;
    border-radius: 10px;
    .poke-data {
      text-align: center;
      height: 14rem;
      border-radius: 10px;
      .info-link {
        text-decoration: none;
        padding: 5px 10px;
        background: rgb(219, 34, 34);
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 4px;
      }
    }
  }
}
